<md-dialog aria-label=""  ng-cloak>
  <form>
    <md-toolbar md-theme="{{theme}}" md-theme-watch="true">
      <div class="md-toolbar-tools">
        <h2>Content Management System: Adding the available elements</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()" aria-label="Cancel Dialog">
          <!--<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>-->
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Available elements</h2>

        <div layout="column">
          <p>Selected Value: <span class="radioValue">{{ sectionSelected }}</span></p>
          <md-input-container>
            <md-radio-group ng-model="sectionSelected" class="md-primary">
              <md-radio-button ng-repeat="item in option"
                           ng-value="item">
                {{item}}
              </md-radio-button>
            </md-radio-group>
          </md-input-container>
          <md-input-container ng-show="sectionSelected == 'New Section'">
              <label>Color</label>
              <md-select ng-model="selectedColor">
                <md-option ng-repeat="color in colors" value="{{color}}">{{color}}</md-option>
              </md-select>
          </md-input-container>
          <md-input-container ng-show="sectionSelected == 'New Section'">
             <label>Section Name</label>
             <input required name="section" ng-model="sectionName" id="{{sectionName}}">
          </md-input-container>
          <md-input-container style="margin-right: 10px;">
            <label>Elements</label>
            <md-select ng-model="selectedElement">
             <md-option ng-repeat="elem in elements" value="{{elem}}">{{elem}}</md-option>
            </md-select>
          </md-input-container>
        </div>

      <!-- Channel option-->
      <div layout="column" flex ng-show="showChannelText()">
        <div flex>
          <b>Channel Elements</b>
        </div>
        <div flex>
          <!--<md-input-container style="margin-right: 10px;">
            <label>Elements</label>
            <md-select ng-model="channelElement">
             <md-option ng-repeat="item in channel" value="{{item}}">{{item}}</md-option>
            </md-select>
          </md-input-container>-->
          <md-card layout-padding>
           <md-input-container class="md-block">
            <label>Channel Title</label>
            <input required name="channelTitle" ng-model="channelTitle">
              <div ng-messages="projectForm.clientName.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Channel Text</label>
              <textarea ng-model="channelText" md-maxlength="1000" rows="5" md-select-on-focus></textarea>
            </md-input-container>
            <div>
              <md-button class="md-fab md-primary">
                <label for="file-input">
                  <md-icon md-svg-icon="assets/icons/menu.svg"></md-icon>
                </label>
              </md-button>
              <input id="file-input" type="file" style="display: none; ">
            </div>
            <div layout>
              <div flex="20" layout layout-align="center center">
                  <span class="md-body-1">Channel Size</span>
              </div>
              <md-slider flex class="md-primary" md-discrete ng-model="channelRate" step="25" min="0" max="100" aria-label="rating"></md-slider>
            </div>
          </md-card>
          </div>
        </div>


        <!--Paragraph option -->
        <div layout="column" flex ng-show="selectedElement == 'Paragraph'">
          <div flex>
            <b>Paragraph Elements</b>
          </div>
          <div flex>
            <!--<md-input-container style="margin-right: 10px;">
              <label>Elements</label>
              <md-select ng-model="channelElement">
               <md-option ng-repeat="item in channel" value="{{item}}">{{item}}</md-option>
              </md-select>
            </md-input-container>-->
            <md-card layout-padding>
             <md-input-container class="md-block">
              <label>Paragraph Title</label>
              <input required name="paragraphTitle" ng-model="paragraphTitle">
                <div ng-messages="projectForm.clientName.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block">
                <label>Paragraph Text</label>
                <textarea ng-model="paragraphText" md-maxlength="10000" rows="5" md-select-on-focus></textarea>
              </md-input-container>
              <div layout>
                <div flex="25" layout layout-align="center center">
                    <span class="md-body-1">Paragraph Size</span>
                </div>
                <md-slider flex class="md-primary" md-discrete ng-model="paragraphRate" step="25" min="0" max="100" aria-label="rating"></md-slider>
              </div>
                <p>Horizontal Align:</p>
                <md-radio-group ng-model="verticalAling" class="md-primary">
                  <md-radio-button ng-repeat="item in verticalOptions"
                           ng-value="item">
                    {{item}}
                  </md-radio-button>
                </md-radio-group>
                <p>Vertical Align:</p>
                <md-radio-group ng-model="horizontalAling" class="md-primary">
                  <md-radio-button ng-repeat="item in horizontalOptions"
                           ng-value="item">
                    {{item}}
                  </md-radio-button>
                </md-radio-group>
            </md-card>
            </div>
          </div>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <!--<md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>-->
      <md-button class="md-raised" ng-click="answer('not useful')">
       Cancel
      </md-button>
      <md-button class="md-raised md-primary" ng-click="addElement()">
        Add
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>