<md-toolbar layout="row">
	<div class="md-toolbar-tools">
		<md-button class="menu" ng-click="toggleDesign()" aria-label="Display available content">
			<md-icon md-svg-icon="assets/icons/menu.svg"></md-icon>
		</md-button>
		<h1>&#9635; H & S SERVICES</h1>
	</div>
</md-toolbar>

<div class="container" layout="row" flex>
	<md-sidenav class="md-whiteframe-4dp" md-component-id="left" id="popupContainer">
		<md-toolbar layout="row" layout-align="end center">
				<h1 class="md-toolbar-tools">Elements:</h1>
			  <md-button ng-click="toggleDesign()" aria-label="Close side nav option">
					<md-icon md-svg-icon="content:clear"></md-icon>
				</md-button>
		</md-toolbar>
		<md-content layout-padding>
			<md-subheader class="md-no-sticky">
				Select the elements in the site
			</md-subheader>
			<md-list-item ng-repeat="setting in settings" ng-click="showDialog($event,setting.name)">
				<md-icon md-svg-icon="{{setting.icon}}"></md-icon>
				<p>{{setting.name}}</p>
			</md-list-item>

			<div ng-if="status">
    		<br>
    		<b layout="row" layout-align="center center" class="md-padding">
      		{{status}}
    		</b>
  		</div>
		 <!--<md-menu-bar>
		 		<md-menu>
		 			<button ng-click="$mdOpenMenu()" md-no-link>
		 				Header
		 			</button>
		 			<md-menu-content>
		 				<md-menu-item>
		 					Testing
		 				</md-menu-item>
		 			</md-menu-content>
		 		</md-menu>
			</md-menu-bar>-->
		</md-content>
	</md-sidenav>

	<div layout="row" flex layout-wrap>
		<div flex class="gray-section">
			<div flex-xs="" flex-gt-xs="30" flex="33" layout="column">
	    	<md-card>
	        <img src="assets/images/roof.jpg" class="md-card-image" alt="Washed Out">
	        <md-card-title>
	          <md-card-title-text>
	            <span class="md-headline">Action buttons</span>
	          </md-card-title-text>
	        </md-card-title>
	        <md-card-content>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	          </p>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	          </p>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	          </p>
	        </md-card-content>
	        <!--<md-card-actions layout="row" layout-align="end center">
	          <md-button>Action 1</md-button>
	          <md-button>Action 2</md-button>
	        </md-card-actions>
	      </md-card>-->
	    </div>
	    <div flex-xs="" flex-gt-xs="30" flex="33" layout="column">
	    	<md-card>
	        <img src="assets/images/roof.jpg" class="md-card-image" alt="Washed Out">
	        <md-card-title>
	          <md-card-title-text>
	            <span class="md-headline">Action buttons</span>
	          </md-card-title-text>
	        </md-card-title>
	        <md-card-content>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	          </p>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	          </p>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	          </p>
	        </md-card-content>
	        <!--<md-card-actions layout="row" layout-align="end center">
	          <md-button>Action 1</md-button>
	          <md-button>Action 2</md-button>
	        </md-card-actions>
	      </md-card>-->
	    </div>
	    <div flex-xs="" flex-gt-xs="30" flex="33" layout="column">
	    	<md-card>
	        <img src="assets/images/roof.jpg" class="md-card-image" alt="Washed Out">
	        <md-card-title>
	          <md-card-title-text>
	            <span class="md-headline">Action buttons</span>
	          </md-card-title-text>
	        </md-card-title>
	        <md-card-content>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	          </p>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	          </p>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	          </p>
	        </md-card-content>
	        <!--<md-card-actions layout="row" layout-align="end center">
	          <md-button>Action 1</md-button>
	          <md-button>Action 2</md-button>
	        </md-card-actions>
	      </md-card>-->
	    </div>
  	</div>
	</div>

</div>