<md-toolbar layout="row" md-theme="{{theme}}" md-theme-watch="true">
	<div class="md-toolbar-tools">
		<md-button class="menu" ng-click="toggleDesign()" aria-label="Display available content">
			<md-icon md-svg-icon="assets/icons/menu.svg"></md-icon>
		</md-button>
		<h1>&#9635; H & S SERVICES</h1>
	</div>
</md-toolbar>

<div class="container" flex>
	<md-sidenav class="md-whiteframe-4dp" md-component-id="left" id="popupContainer" md-theme="{{theme}}" md-theme-watch="true">
		<md-toolbar layout="row" layout-align="end center">
			<h1 class="md-toolbar-tools">Elements:</h1>
		  	<md-button id="navButton" ng-click="toggleDesign()" aria-label="Close side nav option">
					<md-icon md-svg-icon="content:clear"></md-icon>
				</md-button>
		</md-toolbar>
		<md-content layout-padding>
			<md-subheader class="md-no-sticky">
				Select the elements in the site
			</md-subheader>
			<md-list-item ng-repeat="setting in settings" ng-click="showDialog($event, setting.name)"> <!--setting.name-->
				<md-icon md-svg-icon="{{setting.icon}}"></md-icon>
				<p>{{setting.name}}</p>
			</md-list-item>

			<div ng-if="status">
    		<br>
    		<b layout="row" layout-align="center center" class="md-padding">
      		{{status}}
    		</b>
  		</div>
		 <!--<md-menu-bar>
		 		<md-menu>
		 			<button ng-click="$mdOpenMenu()" md-no-link>
		 				Header
		 			</button>
		 			<md-menu-content>
		 				<md-menu-item>
		 					Testing
		 				</md-menu-item>
		 			</md-menu-content>
		 		</md-menu>
			</md-menu-bar>-->
		</md-content>
	</md-sidenav>

	<div id="main-content">
		<!--<div layout="row" class="gray-section" layout-wrap layout-padding flex>
		<div flex="10" flex-xs="" flex-gt-xs="50" layout-align="center center"> 
	    	<md-card>
	        <img src="assets/images/roof1.jpg" class="md-card-image" alt="Washed Out">
	        <md-card-title>
	          <md-card-title-text>
	            <span class="md-headline">Action buttons</span>
	          </md-card-title-text>
	        </md-card-title>
	        <md-card-content>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	          </p>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	          </p>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	          </p>
	        </md-card-content>
	    </div>
	    <div flex="70" flex-xs="" flex-gt-xs="50">
	    	<md-card>
	        <img src="assets/images/roof1.jpg" class="md-card-image" alt="Washed Out">
	        <md-card-title>
	          <md-card-title-text>
	            <span class="md-headline">Action buttons</span>
	          </md-card-title-text>
	        </md-card-title>
	        <md-card-content>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	          </p>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	          </p>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	          </p>
	        </md-card-content>
	    </div>
  	</div>	

	<div  layout="row" flex layout-wrap layout-padding>
			<div flex="33" flex-xs="" flex-gt-xs="33" layout-align="center center">
				<p>
					A roof is part of a building envelope. It is the covering on the uppermost part of a building or shelter which provides protection from animals and weather, notably rain or snow, but also heat, wind and sunlight. The word also denotes the framing or structure which supports that covering.
				<p/>

				<p>
					The characteristics of a roof are dependent upon the purpose of the building that it covers, the available roofing materials and the local traditions of construction and wider concepts of architectural design and practice and may also be governed by local or national legislation. In most countries a roof protects primarily against rain. A verandah may be roofed with material that protects against sunlight but admits the other elements. The roof of a garden conservatory protects plants from cold, wind, and rain, but admits light.
				</p>

				<p>
					Shack made of date palm branches at Neot Semadar, Israel
					A roof may also provide additional living space, for example a roof garden.
				</p>
	    	</div>
	    <div flex="13" flex-xs="" flex-gt-xs="33" layout-align="center center">
	    	<md-card>
	        <img src="assets/images/roof1.jpg" class="md-card-image" alt="Washed Out">
	        <md-card-title>
	          <md-card-title-text>
	            <span class="md-headline">Action buttons</span>
	          </md-card-title-text>
	        </md-card-title>
	        <md-card-content>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	          </p>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	          </p>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...flex-xs
	          </p>
	        </md-card-content>
	    </div>
	    <div flex="33" flex-xs="" flex-gt-xs="33" layout="column" layout-align="center center">
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	          </p>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well... 	
	          </p>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	          </p>
	    </div>
  	</div>

  	<div  layout="row" class="gray-section" layout-wrap layout-align="center center" layout-padding>
			<div flex="33" flex-xs="" flex-gt-xs="33">
	    	<md-card>
	        <img src="assets/images/roof1.jpg" class="md-card-image" alt="Washed Out">
	        <md-card-title>
	          <md-card-title-text>
	            <span class="md-headline">Action buttons</span>
	          </md-card-title-text>
	        </md-card-title>
	        <md-card-content>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	          </p>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	          </p>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	          </p>
	        </md-card-content>
	    </div>
	    <div flex="13" flex-xs="" flex-gt-xs="33">
	    	<md-card>
	        <img src="assets/images/roof1.jpg" class="md-card-image" alt="Washed Out">
	        <md-card-title>
	          <md-card-title-text>
	            <span class="md-headline">Action buttons</span>
	          </md-card-title-text>
	        </md-card-title>
	        <md-card-content>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	          </p>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	          </p>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	          </p>
	        </md-card-content>
	    </div>
	    <div flex="33" flex-xs="" flex-gt-xs="33">
	    	<md-card>
	        <img src="assets/images/roof1.jpg" class="md-card-image" alt="Washed Out">
	        <md-card-title>
	          <md-card-title-text>
	            <span class="md-headline">Action buttons</span>
	          </md-card-title-text>
	        </md-card-title>
	        <md-card-content>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	          </p>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	          </p>
	          <p>
	            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	          </p>
	        </md-card-content>
	    </div>
  	</div>

  	<div  layout="row" flex layout-wrap layout-padding>
			<div flex="66" flex-xs="" flex-gt-xs="33" layout="row" layout-align="center center">
				<p>
					A roof is part of a building envelope. It is the covering on the uppermost part of a building or shelter which provides protection from animals and weather, notably rain or snow, but also heat, wind and sunlight. The word also denotes the framing or structure which supports that covering.
				<p/>

				<p>
					The characteristics of a roof are dependent upon the purpose of the building that it covers, the available roofing materials and the local traditions of construction and wider concepts of architectural design and practice and may also be governed by local or national legislation. In most countries a roof protects primarily against rain. A verandah may be roofed with material that protects against sunlight but admits the other elements. The roof of a garden conservatory protects plants from cold, wind, and rain, but admits light.
				</p>

				<p>
					Shack made of date palm branches at Neot Semadar, Israel
					A roof may also provide additional living space, for example a roof garden.
				</p>
	    </div>
  	</div>-->
	</div> <!-- End main content -->

</div>
 <!-- class="md-medium-tall" -->
<!--<md-toolbar md-theme="{{theme}}" md-theme-watch="true">
 <div layout="row" layout-align="center center" flex>
   <span>&#9635; H & S SERVICES</span>
  </div>
</md-toolbar>-->